.my-custom-interface .select-interface-option .alert-radio-label {
  color: #971e49;
  font-size: smaller;
}
.alert-radio-group::-webkit-scrollbar,
.alert-checkbox-group::-webkit-scrollbar {
  width: 0.7em;
  display: block !important;
}

.alert-radio-group::-webkit-scrollbar-track,
.alert-checkbox-group::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.alert-radio-group::-webkit-scrollbar-thumb,
.alert-checkbox-group::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.b1-selectRow {
  margin-bottom: 2%;
}

.b1-select {
  background-color: #6890d4;
  box-shadow: 5px 5px 10px grey;
}

.b1-grid {
  margin: 1% 1% 1% 1%;
}

.b1-row {
  border-bottom: 1px solid black;
  margin: 0% 2% 0% 2%;
  /* width: 90%; */
}
.b1-textCol {
  display: grid;
  align-content: center;
  margin-top: 2%;
  font-size: smaller;
}

.b1-text1 {
  font-size: smaller;
}

.b1-text2 {
  font-size: xx-small;
}

.b1-text3 {
  font-size: x-small;
}

.b1-btn {
  font-size: xx-small;
  position: absolute;
  right: 0;
  bottom: 0;
}

.fontHeading{
  color:#5775b2
}
