.selectlocation {
  font-size: larger;
  color: darkgrey;
  text-align: center;
  padding-left: 2%;
  padding-bottom: 2%;
}

.locationCol {
  text-align: center;
}

.radiobutton{
  top:10px;
}

.radioposition{
  top:5px;
}

.location {
  zoom: 20%;
}

.radioStyle {
  font-size: small;
}

/* .radioLabel {
   position: fixed; 
} */

.grid {
  /* border-style: dotted;
  border-color: black; */
  margin: 0% 5%;
  height: 100%;
}

.findDocCard {
  --background: white;
  height: 60%;
  border-radius: 50px;
  overflow: hidden;
}

.findDocCardContent {
  padding: 0%;
}

.subtitle {
  padding-top: 10%;
  text-align: center;
  font-size: small;
}

.divider {
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: black;
  margin-bottom: 5%;
}

.searchBar {
  --background: none;
  --placeholder-color: darkgrey;
  --box-shadow: none;
  padding: 0%;
}
