.ionFooterToolbar {
  color: white;
  --background: url(../images/Main-background.jpg) !important;
  padding-bottom: 5%;
  /* padding-top: 1%; */
  text-align: center;
   background-color: rgb(82,97,156);
  /* height: 65px; */
}

/* ion-title {
  width: 100%;
  padding: 10%;
} */


.title{
  color:"white";
  background-color:rgb(82,97,156);
  text-align:"center"
}