.maingrid {
  /* border-style: dotted;
  border-color: white; */
  /* margin: 10% 10%; */
  width: 80%;
  height: fit-content;
  color: white;
}

.headergrid {
  width: 100%;
}

.backbutton {
  margin-top: 15px;
}

.profileImage-center {
  margin: 0 auto;
  zoom: 200%;
}

.ionContent {
  --background: url(../images/Main-background.jpg) !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100% !important;
  margin: 0 !important;
  color: white;
  --background: url(../images/Secodnary-backgroud.PNG) no-repeat center center
    fixed !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  border-radius: 10px;
}

.fontsize {
  font-size: small;
  font-style: italic;
  padding: 0% 5% 0% 5%;
}

.checkBox {
  zoom: 70%;
}

.loginbutton {
  bottom: 15px;
}

.otpbtn {
  margin-top: 12px;
  margin-left: 110px;
}

ion-input {
  /* border-color: white;
  border-style: ridge; */
  border-radius: 5px;
  border: 2px solid white;

  --padding-start: 5% !important;
  /* padding: 20px; */
  /* width: 200px; */
  /* height: 150px; */
}

.anchorWhite {
  color: white;
  text-decoration: none;
}

.registerLabel {
  text-align: center;
  background-color: rgb(40, 59, 148);
  color: white;
  border-radius: 5px;
  margin-left: 0%;
  margin-right: 20%;
  padding-top: 2%;
  padding-bottom: 2%;
}
.loginLabel {
  text-align: center;
  background-color: rgb(40, 59, 148);
  color: white;
  border-radius: 5px;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.inputlabel {
  margin-left: 5%;
  display: block;
}

.description {
  margin-left: 2%;
}
.otpInput {
  display: inline-block;
  width: 15%;
  margin-right: 10px;
  text-align: center;
  /* border-radius: 50%; */
  /* --background: #e1e1e1; */
}

.cardContent {
  padding: 0%;
}

.h2BottomText {
  text-align: center;
  background-color: rgb(40, 59, 148);
  border-radius: 5px;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: 5%;
  margin-right: 5%;
}

.checkmark {
  color: rgb(45, 231, 45);
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.otpInput {
  /* width: 5em; */
  border-radius: 5px;
  background: transparent;
  border: 2px solid white;
  height: 3em;
  text-align: center;
  /* margin: 16px; */
  outline: none;
}
.error{
  color:red;
  padding-left: 16px;
}
