ion-buttons {
  padding: 5% 0 5% 0;
}

ion-title {
  width: 100%;
  padding: 5%;
}

.MainprofileImage-center {
  margin: 0 auto;
  zoom: 120%;
}

.profile {
  text-align: left;
  margin-top: 5%;
}

.profileText {
  color: black;
  font-size: x-large;
}

.profileName {
  color: grey;
  font-size: larger;
}

.grid {
  /* border-style: dotted; */
  /* border-color: black; */
  margin: 0% 5%;
  height: 100%;
}

.divider {
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: black;
}

.welcomeText {
  margin: 2% 2%;
  font-size: large;
}

.colContent {
  padding: 0%;
}

.details {
  padding-bottom: 0%;
  padding-right: 0%;
}

.barcode {
  border: 1px solid black;
  padding: 3% 5% 0 5%;
  margin-bottom: 2%;
}

.colBarcode {
  text-align: -webkit-center;
}

.imgContainer {
  width:60%;
  background-color: white
}

.disabledButton {
  disabled: disabled;
}

.enabledButton {
  disabled: false;
}
