.cardHeader {
  text-align: center;
  color: white;
  padding-bottom: 0%;
  padding-top: 0%;
}
.inputlabel {
  margin-left: 5%;
  display: block;
}

.divClass {
  padding: 7% 6%;
  /* height: 400px; */
}

.secodnaryGrid {
  margin-top: 10%;
}

.nextBtn {
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 1%;
}

.dob {
  border-radius: 5px;
  border: 2px solid white;
  --padding-start: 5% !important;
  text-align: center;
  --placeholder-color: lightgrey;
}

.displayInline {
  display: inline-block;
}

.multiselect {
  --background: none;
  color: white;
  border-radius: 5px;
  border: 2px solid white;
  --padding-start: 5% !important;
  text-align: left;
  --placeholder-color: lightgrey;
  width: 170px;
}

.checkBox {
  --size: 30px;
  border-radius: 5px;
  border: 2px solid white;
}

.textStyle {
  font-size: larger;
}

.textCol {
  padding-left: 0%;
  padding-top: 0%;
}

.dropdownbtn{
  margin-top:3px;
  margin-left:0px;
}

.dropdown{
  width: 220px;
}

.file{
  width:70%;
}

.Input{
border:none;
}

.insuranceInput{
 width:15px;
 height:30px;
 margin-Top:30px;
 margin-Left:3px;
 border:none;
}

.btn{
width:165px;
}
.TOC{
  overflow:scroll;
  background-color:#4e87ed;
  color:white;
  height:300px;
}

.registration_pdf .react-pdf__Document{
  max-height: 200px!important;
}
a.toc:link{
  color: white;
}
a.toc:visited {color:#FFFAFA;}  /* visited link */
a.toc:hover {color:#FFFAFA;}  /* mouse over link */
a.toc:active {color:#FFFAFA;}  /* selected link */