.text1 {
  font-size: smaller;
}

.text2 {
  font-size: xx-small;
}

.text3 {
  font-size: x-small;
}

.textCol {
  display: grid;
  align-content: flex-start;
  margin-top: 2%;
}

.firstRow {
  padding: 0% 2% 0% 2%;
}
.secondRow {
  border-bottom: 1px solid black;
  margin: 0% 2% 0% 2%;
  width: 90%;
}
.thirdRow {
  padding: 0% 2% 0% 2%;
}
.status{
  margin-left: 59%;
}

.cardStyle {
  border: 1px solid black;
  border-radius: 10px;
  margin: 5% 5% 5% 5%;
}

.cardContentStyle {
  padding: 0%;
}
.redBtn{
  --background: #eb445a;
}
.red-badge{
  background: #eb445a;
  color: white;
  /* margin-left: 59%; */
}
.green-badge{
  background: green;
  color: white;
  /* margin-left: 59%; */
}
.status-badge-col{
  justify-content: right;
  display: flex;
  align-items: center;
}
.modal-card{
  overflow: auto;
}
.fontColor{
  color:#3b3b3b
}
.diagnosis-modal{
  --min-height: 240px;
  --max-height: 20%;
  --max-width: 80%;
  --border-radius: 20px;
}
.header{
  --background: #5775b2;
  height: 55px;
}
.white-color{
  color: white;
}

.font{
  font-weight: 500;
}

.fontHeading{
  color:#5775b2
}
