

.columns.is-mobile > .column.is-3{
    width: 100%;
    text-align: center;
}

.columns.is-mobile{
    border-radius: 0px;
    margin: 0px;
    padding: 10px;
    margin-top: 0px!important;
    /* text-align: center; */
}
.columns.is-mobile > .column.is-2{
    display: none;
}

.page_counter{
    
    
    margin: 0px;
    padding: 0px;
    text-align: center;

}
.navigation_button_container{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.navigation_icon{
   
}
.pdf_toolbar{
    background: black;
    padding: 5px;
}
.react-pdf__Document{
    overflow: scroll;
    max-height: 100vh;
}


ion-fab-button.download_button{
    /* margin: 8px; */
    width: 40px;
    height: 40px;
    line-height: 40px;
    /* margin-top: 40px; */
}

.disabled{
    pointer-events: none;
    opacity: 0.4;
}