.button_container{
    height: 60px!important;
    width: 100%!important;
    background: #80808026!important;
    /* z-index: 10000; */
    position: absolute;
    bottom: 0;
    text-align: center;
}

ion-button .pdfViewer{
    background-color: gray!important;
    border: gray!important;
}

.has-background-black{
    background-color: black;
}
.column.is-3.buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ion-fab{
    z-index: 100000;
}
