.accordianitem {
  padding: 0%;
}

.testitem {
  --border-color: lightgrey;
}

.order-grid {
  padding: 0%;
}

.order-gridCol {
  padding: 0%;
}
.fontColor{
  color:#3b3b3b
}
.parent-card{
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.font{
  font-weight: 500;
}
.fontHeading{
  color:"blue"
}